.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}
ul{
    list-style: none ;
    background-color: chocolate;
    padding: 10px;
}
li{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    background-color: black;
    padding:10 px;
    border-radius: 10px;
}
.link{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: pink;
    cursor: pointer;
}  
.link:hover{
    color:white
}